$ninesixty-grid-width: 960px !default;
$ninesixty-gutter-width: 20px !default;

$ninesixty-fluid-grid-margin: (100% - $ninesixty-fluid-grid-width)/2 !default;
$ninesixty-fluid-grid-min-width: 960px !default;
$ninesixty-fluid-grid-width: 92% !default;
$ninesixty-fluid-gutter-margin: 2% !default;

$ninesixty-class-separator: "_" !default;
$ninesixty-columns: 12 !default;
